# Making changes? https://github.com/nektos/act may help you test locally

name: Build with GitHub Actions

on:
  push:
    branches: "**"
    tags-ignore: ["**"]
  pull_request:
  release:
    types: [released]

concurrency:
  group: "${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    # Only run on PRs if the source branch is on someone else's repo
    if: "${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}"

    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [
                8, # Minecraft
                11, # LTS
                16 # Latest
        ]
    steps:
      # Setup
      - name: Check out
        uses: actions/checkout@v3
      - name: "Setup JDK ${{ matrix.java }}"
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "${{ matrix.java }}"
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      # Actually build
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
      - name: Archive test results
        if: "${{ always() }}"
        uses: actions/upload-artifact@v3
        with:
          name: "${{ runner.os }}-test-results"
          path: |
            build/reports/
